.contentWrapper {
    height: 100%;
    width: 402px;
    padding: 0 0 0 2rem;
    background-color: #120F14;
}

.searchTextArea {
    display: flex;
    align-items: center;
    background-color: #3D393F;
    padding: 4px 0px 4px 16px;
    color: white;
    height: 2rem;
    border-radius: 8px;
    margin: 8px 0;
    width: 14rem;
}

.inputText {
    margin-left: 2px;
    font-size: 0.8rem;
}

.roomListArea {
    padding: 1rem 0 1rem 0;
}

.roomListArea > ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    color: white;
}

.roomListArea > ul > li {
    padding: 8px 0;
}

.memberListArea {
    color: white;
    margin: 2.5rem 0;
}

.memberListArea > h2 {
    font-size: 0.9rem;
}

.roomListArea > ul > li:hover {
  opacity: 0.8;
  cursor: pointer;
}

.memberListArea > ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    color: white;
}

.memberListArea > ul > li {
    padding: 8px 0;
}

.memberListArea > ul > li:hover {
  opacity: 0.8;
  cursor: pointer;
}

.sideNavChannelAdd {
    padding: 1rem 1rem 1rem 0;
    height: 64px;
    color: white;
    background-color: #120F14;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sideNavBack {
    padding: 1rem 1rem 1rem 0;
    height: 64px;
    color: white;
    background-color: #120F14;
    display: flex;
    align-items: center;
}

.channelAddButton {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #252329;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.backChannelListButton {
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.channelDescriptionArea {
    color: white;
}

.channelDescriptionArea > h2 {
    font-size: 0.9rem;
}

.channelDescriptionArea > p {
    font-size: 1rem;
    word-break: break-all;
    padding-right: 1.5rem;
}